body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pngegg.png");
    background-size: 350px;
    background-origin: padding-box;
    text-align: center;
}

h1 {
    background-color: rgb(0, 225, 255);
    color: rgb(249, 249, 249);
    font-size: 50px;
    padding: 1rem;
    margin: 0;
}

.button {
    background-color: rgb(0, 225, 255);
    border: 2px solid rgb(0, 225, 255);
    color: rgb(251, 252, 252); 
    font-weight: bold;
    margin: 1em auto; 
    display: inline-block;
    right: 40%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.button:hover {
    background-color:rgb(249, 249, 249);
    border: 2px solid rgb(0, 225, 255);
    color: rgb(0, 225, 255);
}

.doggos {
    width: 90%;
    background-color: rgb(0, 225, 255);
    width: 80%;
    margin: 0 auto; 
    display: block;
    border-radius: 35px;
}

.img {
    width: 40%;
    margin: 0 auto; 
    display: block;
    left: 12%;
    padding: 20px;
}
